@import url("../../global.css");
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  border-bottom: 3px solid #ffff00;
  overflow: hidden;
  padding: 10px 0;
  z-index: 9999;
}

.navbar-title {
  float: left;
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #ffff00;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar a {
  float: right; 
  display: block;
  color: #ffff00;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a:hover {
  background-color: #333;
  color: #ffff00;
}

/* Content area */
.content {
  margin-top: 80px;
  padding: 20px;
  width: 100%;
}

.planets-container {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000;
  text-align: center;
}

label {
    color: #000;
  font-weight: bold;
}

select {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

li {
    color: #000;
  background: #f0f0f0;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
}
